@model SkillsTest.Models.Category

@{
    Layout = "_Layout";
}

@*@for (var i = 0; i < ViewBag.Questions.Count(); i++)
    {
        <p>@Model.Questions[i].Content</p>

        @for (var j = 0; j < Model.Questions[i].Answers.Count(); j++)
        {
            @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, Model.Questions[i].Answers[j].Id, new { id = "Question" + i.ToString() + "Answer" + j.ToString() })
            <label for="Question@(i)Answer@(j)">@Model.Questions[i].Answers[j].Id</label>
        }
    }*@

@using (Html.BeginForm())
{
    <table class="table table-bordered table-striped">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            var question = Model.Questions[i];
            <tr>
                <td>
                    <strong> @question.Content </strong>
                    <br />
                    @for (var j = 1; j < question.Answers.Count; j++)
                    {
                        @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer[j], question.Answers[j].Id, new { id = "Question" + i.ToString() + "Answer" + j.ToString() })
                        <label for="Question@(i)Answer@(j)">@question.Answers[j].Content</label>
                        <br />
                    }
                </td>
            </tr>
        }
        <tr>
            <td>
                <input type="submit" class="btn btn-primary" value="Submit" />
            </td>
        </tr>
    </table>
}
